version: '3'
services:
  app:
    image: uberchuckie/observium
    container_name: observium
    environment:
      - TZ=Europe/Prague
    volumes:
      - observium-config:/config
      - observium-logs:/opt/observium/logs
      - observium-rrd:/opt/observium/rrd
    ports:
      - "8888:8668"
      - "5149:514/udp"
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "nmap", "-p", "8668", "localhost", "|",  "grep", "open", "&&", "exit", "0", "||", "exit", "1" ]

volumes:
      observium-config:
      observium-logs:
      observium-rrd:
